/* _____экран 1_____ */
.contenier {
  overflow: hidden;
}
.button1_slide01 {
  position: absolute;
  width: 15.625%;
  height: 54px;
  left: 42%;
  top: 45vh;
  background: #4B4B4B;
  border-radius: 15px;
  border: 2px solid #000000;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-family: 'SuisseIntl-Regular';
  transition: .5s;
  z-index: 6;
}
.button1_slide01:hover {
  cursor: pointer;
  background: #000000;
  color: #4B4B4B;
  transition: .1s;
}

/* _____экран 2_____ */
#droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }

#droppable2 { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }

.drophere {
  position: absolute;
  opacity: 0;
  width: 200px;
  height: 200px;
  left: 36.8%;
  top: 320px;
  background-color: gray;
}

.drophere2 {
  position: absolute;
  opacity: 0;
  width: 200px;
  height: 200px;
  left: 50.69%;
  top: 320px;
  background-color: gray;
}

#draggableArea {
  position: absolute;
  left: 38.8%;
  top: 36.5vh;
  width: 321.37px;
  height: 171px;
  border-radius: 90px;
  transition: .5s;
}
#draggable {
  width: 171px;
  height: 171px;
  left: 72px;
  /* background-color: #3B3B3B; */
  /* padding: 18px; */
  border-radius: 50%;
  cursor: move;
  z-index: 5;
}
  .hidden {
    opacity: 0;
  }
  .blocker {
    display: none;
  }
  .twxt {
    position: absolute;
    left: 12px;
    top: 65px;
    width: 150px;
    font-size: 36px;
    letter-spacing: -0.02em;
    align-items: center;
    text-align: center;
    user-select: none;
    pointer-events: none;
    font-family: 'SuisseIntl-Regular';
    transition: .5s;
    z-index: 4;
  }
  .slider_slide02 {
    position: absolute;
    width: 349.37px;
    height: 197px;
    left: 37.83%;
    top: 35vh;
    background: #111111;
    border-radius: 134px;
    transition: .5s;
    z-index: -5;
  }
  .mode_slide02 {
    position: absolute;
    left: 45.48%;
    top: 50px;
    width: 126px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    color: #111111;
    font-family: 'SuisseIntl-Regular';
    transition: .5s;
    z-index: 4;
  }
  .drag_slide02 {
    position: absolute;
    left: 657px;
    top: 65vh;
    width: 126px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    color: #111111;
    font-family: 'SuisseIntl-Regular';
    transition: .5s;
    z-index: 4;
  }
  .button2_slide03 {
    position: absolute;
    width: 89px;
    height: 54px;
    left: 46.94%;
    top: 65vh;
    background: #000000;
    border-radius: 15px;
    border: 2px solid #4B4B4B;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: 'SuisseIntl-Regular';
    transition: .5s;
    z-index: 6;
  }

  .button2_slide03 a{
    text-decoration: none;
  }
  .button2_slide03:hover {
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    color: #000000;
    transition: .1s;
  }
  .white {
    background: #FFFFFF;
    /* transition: .5s; */
  }
  .white_text {
    color: #FFFFFF;
    /* transition: .5s; */
  }
  .white_button {
    background: #FFFFFF;
    border: 2px solid #CCCCCC;
    color: #000000;
    transition: .5s;
  }
  .white_button:hover {
    background: #000000;
    border: 2px solid #000000;
    color: #FFFFFF;
    transition: .1s;
  }
  .black {
    background-color: #000000;
  }
  .black_text {
    color: #000000;
    /* transition: .5s; */
  }
  .gray {
    background-color: #3B3B3B;
  }
