h3 {
  margin: 2vh auto 1vh;
  color: #4B4B4B;
}

h2 {
  margin: 7vh auto 1vh;
  max-width: 689px;
  text-align: center;
}

.desktop {
  display: flex;
  flex-direction: column;
}

.sub-h2 {
  margin-top: 0;
  color: #4B4B4B;
}

.sub-h2_white {
  color: #CCCCCC;
}

.h2-mobile {
  display: none;
}

.secondary_button {
  display: inline-block;
}

.buttons {
  margin-bottom: 3vh;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

.next-button {
  display: none;
}

.desktop-input {
  display: block;
  margin: 5vh auto 0vh;
}

.yes_no_button {
  margin-right: 1vw;
  display: inline-block;
}

.send-button {
  /* display: none;
  opacity: 0.6;
  position: absolute;
  bottom: 2vh;
  right: 5vw; */
}

.message-box {
  display: none;
}


#interview-2-yes-no-button {
  /* display: block; */
  display: none;
  margin: 20vh auto 0vh;
}


#interview-3-yes-no-button {
  display: block;
  /* display: none; */
  margin: 20vh auto 0vh;
}

#interview-4-yes-no-button {
  display: block;
  /* display: none; */
  margin: 20vh auto 0vh;
}

.slider {
  top: 73px;
}

.chips {
  display: flex;
  justify-content: center;
  max-width: 850px;
  margin: 5vh auto;
  flex-wrap: wrap;
}

.messages {
  display: none;
}

.chat {
  display: none;
  flex-grow: 1;
  height: 66vh;
}

#interview3-next-button {
  display: none;
}

@media screen and (max-width: 400px) {

  #interview3-next-button {
    display: flex;
    position: absolute;
    /* width: 61vw; */
    bottom: 2vh;
  }

  #interview-3-yes-no-button {
    display: none;
  }

  .chat {
    display: flex;
    flex-direction: column;
  }
  .message-box {
    display: flex;
    position: fixed;
    bottom: 2vh;
    right: 0px;
    left: 0px;
  }

  .send-button {
    display: block;
  }

  .desktop-input {
    display: none !important;
  }
  .yes_no_button {
    display: flex;
  }
  .next-button {
    /* display: flex; */
    position: fixed;
    bottom: 2vh;
    right: 1vh;
    left: 1vh;
  }
  h2 {
    margin: 51px 0 10px;
    text-align: left;
  }
  .buttons {
    display: block;
    position: absolute;
    width: 95vw;
    bottom: -3vh;
  }
  .caption {
    margin: 0px 1vw 0px;
  }
  .slider {
    margin-top: 4px;
    top: 33px;
  }
  .br {
    display: revert;
  }
  .message-input {
    padding: 18px 9px 15px 18px;
  }
  .chips {
    position: absolute;
    top: 24vh;
    left: -20vw;
    right: -20vw;
  }
  .chip {
    border: none;
  }
  .chosen-chip {
    border: none !important;
    padding: 15px 32px;
  }
  #interview-4-yes-no-button {
    display: none;
  }
  /* input[type=textarea] {
    display: block;
    position: absolute;
    width: 70%;
    bottom: 2vh;
    padding: 17.5px 32px;
    max-width: 15ch;
    min-width: 15ch;
    text-align: left;
  }
  input:not(:placeholder-shown) {
    background-color: #CCCCCC;
    outline: none;
    border-color: #CCCCCC;
  }

  .input-white:not(:placeholder-shown) {
    background-color: black;
  } */
  #interview-2-yes-no-button {
    display: none !important;
  }
  .messages {
    display: flex;
    position: relative;
    top: 10px;
    padding-left: 0;
  }

}
