h3 {
  margin: 2vh auto 1vh;
  color: #4B4B4B;
}

h2 {
  margin: 7vh auto 1vh;
  max-width: 689px;
  text-align: center;
}

.h2-mobile {
  display: none;
}

.secondary_button {
  display: inline-block;
}

.buttons {
  margin-bottom: 3vh;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

.next-button {
  display: none;
}

.desktop-input {
  display: block;
  margin: 5vh auto 0vh;
}

.yes_no_button {
  margin-right: 1vw;
  display: inline-block;
}

.send-button {
  /* display: none;
  opacity: 0.6;
  position: absolute;
  bottom: 2vh;
  right: 5vw; */
}

.messager-box {
  display: none;
}

@media screen and (max-width: 400px) {
  .messager-box {
    display: flex;
  }

  .send-button {
    display: block;
  }

  .desktop-input {
    display: none !important;
  }
  .yes_no_button {
    display: flex;
  }
  .next-button {
    display: flex;
  }
  h2 {
    margin: 5vh 0 1vh;
    text-align: left;
  }
  .buttons {
    display: block;
    position: absolute;
    width: 95vw;
    bottom: -3vh;
  }
  .caption {
    margin: 1vh 1vw 1vh;
  }
  .slider {
    margin-top: 0.5vh;
  }
  .br {
    display: revert;
  }
  /* input[type=textarea] {
    display: block;
    position: absolute;
    width: 70%;
    bottom: 2vh;
    padding: 17.5px 32px;
    max-width: 15ch;
    min-width: 15ch;
    text-align: left;
  }
  input:not(:placeholder-shown) {
    background-color: #CCCCCC;
    outline: none;
    border-color: #CCCCCC;
  }

  .input-white:not(:placeholder-shown) {
    background-color: black;
  } */
  #interview-2-yes-no-button {
    display: none !important;
  }

}



#interview-2-yes-no-button {
  /* display: block; */
  display: none;
  margin: 20vh auto 0vh;
}
