.container {
  margin: auto auto;
  margin-top: 5vh;
  display: block;
  width: fit-content;
}

.map {
  display: grid;
  grid-template-columns: repeat(2, 40vh);
  grid-template-rows: repeat(2, 40vh);
}


@media screen and (max-width: 790px) {
  .map {
    grid-template-columns: repeat(2, 30vh);
    grid-template-rows: repeat(2, 30vh);
  }
}

.corner {

}

.corner span {
  font-family: 'SuisseIntl-Medium';
  font-size: 48px;
  line-height: 110%;
  color: #4B4B4B;
  position: absolute;
}

.left-top-corner {
  position: relative;
  border-bottom: 2px solid #4B4B4B;
  border-right: 2px solid #4B4B4B;
}

.left-top-corner span {
    bottom: 10%;
}

.left-top-corner:hover {

}

.right-top-corner {
  position: relative;
  border-bottom: 2px solid #4B4B4B;
  border-left: 2px solid #4B4B4B;
}

.right-top-corner span {
  top: 42%;
  left: 18%;
}

.right-bottom-corner {
  position: relative;
  border-top: 2px solid #4B4B4B;
  border-left: 2px solid #4B4B4B;
}

.right-bottom-corner span {
  top: 39%;
  left: 32%;
}

.left-bottom-corner {
  position: relative;
  border-top: 2px solid #4B4B4B;
  border-right: 2px solid #4B4B4B;
}

.left-bottom-corner span {
  text-align: center;
  top: 30%;
  right: 30%;
}

.array {
  position: absolute;
  height: 18px;
  width: 35px;
  background-size: contain;
  background-image: url('../images/array-not-hovered.svg');
}

#array-top {
  right: -20px;
  top: -5px;
}

#array-right {
  right: -15px;
  bottom: -11px;
  transform: rotate(90deg);
}

#array-left {
  left: -15px;
  top: -11px;
  transform: rotate(-90deg);
}

#array-bottom {
  left: -20px;
  bottom: -5px;
  transform: rotate(180deg);
}
