.onboarding-card {
  max-width: 926px;
  height: 69vh;
  margin: 10vh auto 0;
  border-radius: 20px;
  padding: 4vh 4vw;
  box-sizing: border-box;
  position: relative;
  background: #015924;
  background-repeat: no-repeat;
  background-position: top 19vh center;
}

.h2-abother {
  color: black !important;
}

.h2-mobile {
  color: black;
}

.onboarding-card .text_1 {
  max-width: 438px;
}

.onboarding {
  color: black !important;
  margin-bottom: 1vh;
}

.next-button {
  display: none;
  position: fixed;
  z-index: 12;
  bottom: 4vh;
  left: 2vw;
  right: 2vw;
  /* width: 100%; */
  background-color: black;
}


#skip {
  position: absolute;
  right: 1.5vw;
  top: 4vh;
}

#skip a {
  color: #CCCCCC !important;
  text-decoration: none;
}

.white-skip a{
  text-decoration: underline !important;
}


#back {
  position: absolute;
  left: 4vw;
  bottom: 4vh;
  user-select: none;
}

.lets-start {
  position: absolute;
  bottom: 4vh;
  right: 4vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 32px;
  box-sizing: border-box;
  width: 194px;
  height: 54px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  cursor: pointer;
  display: none;
}

.lets-start:hover {
  background: black;
}

.lets-start:hover a {
  color: white;
}

.lets-start a {
  text-decoration: none;
  color: black;
  font-family: 'SuisseIntl-Regular';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.send-button {
  position: absolute;
  bottom: 4vh;
  right: 4vw;
  background-image: url('../images/send-onboarding.svg');
  z-index: 10;
}

.send-button-mobile {
  background-image: url('../images/send-onboarding-hover.svg');
  bottom: 4vh;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}


.send-button:hover {
  background-image: url('../images/send-onboarding-hover.svg');
}

.mobile {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  font-size: 18px;
  /* background: #fff; */
  background-repeat: no-repeat;
  background-position: top 21vh center;



  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.swiper-slide h2 {
  /* margin: 68vh 2vh 2vw 2vh; */
}

.swiper-slide .text_1_mobile {
  /* margin: 1vh 2vh 2vw 2vh; */
}

.swiper-scrollbar {
  bottom: auto;
  top: 42px;
}

.swiper-container-horizontal>.swiper-scrollbar {
  left: 4%;
  right: 4%;
  width: 92%;
}


.swiper-scrollbar-drag {
  background-color: black;
  position: relative;
}


.swiper-scrollbar:before {
  content: 'How it works';
  position: absolute;
  top: -22px;
  font-family: 'SuisseIntl-Regular';
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
/* .swiper-scrollbar-drag:before {
  content: '';
  background-color: black;
  position: relative;
  left: -99vw;
  top: 0;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100vw;
  z-index: 999;
}

.swiper-scrollbar-drag:after {
  content: '';
  background-color: black;
  position: relative;
  left: -99vw;
  top: 0;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100vw;
  z-index: 999;
} */

@media screen and (max-width: 500px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .data {
    /* position: fixed; */
    /* bottom: 26vh;
    left: 1vw;
    right: 1vw; */
    margin-top: 60vh;
    padding: 0vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .swiper-slide .h2-mobile {
    margin-bottom: 1vh;
  }
  .swiper-slide .text_1_mobile {
    margin: 0;
    text-align: center;
  }
}
