.skip_or_not_head {
  display: block;
  margin: 67vh auto 0;
}

#skip_or_not__primary_button {
  margin: 76vh auto 0;
  display: none;
}

#skip_or_not__secondary_button {
  margin: 2vh auto 1vh;
  display: none;
}

.buttons-desktop {
    display: flex;
    flex-direction: row-reverse;
    margin: 4vh auto 0;
    max-width: fit-content;
    gap: 22px;
}

.buttons-mobile {
  display: none;
}

#skip_or_not_illustration {
  background-image: url('../images/illustration1.svg');
  background-position: top 18vh center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {

  .buttons-mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 1vw;
    right: 1vw;
    bottom: 1vh;
  }

  #skip_or_not__primary_button {
    display: flex;
    margin: 5vh 1vh 0;
  }
  #skip_or_not__secondary_button {
    display: flex;
    margin: 1vh 1vh 1vh;
  }
  .buttons-desktop {
    display: none;
  }
  #skip_or_not_illustration {
    background-image: url('../images/illustration1_mobile.svg');
    background-position: top 8vh center;
    background-repeat: no-repeat;
    background-size: 23vh;
  }
  .skip_or_not_head {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0) scale(0.7);
    bottom: 33vh;
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .primary_button {
    width: auto;
  }
  .secondary_button {
    width: auto;
  }
}
